<div class="bg-light">
  <div>
    <div class="d-flex flex-row-reverse bd-highligh pb-2 pr-1">
      <button type="button" class="btn btn-success btn-md">Salvar</button>
      <button type="button" [routerLink]="['/cursos']" class="btn btn-secondary btn-md mr-1">Voltar</button>
    </div>
    <div style="border-radius: 25px" class="border border-4 bg-white">
      <div class="col-md-12 p-4">
        <form>
          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="inputStatus">Status</label>
              <select id="inputStatus" class="form-control">
                <option selected>Selecione...</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nome do Curso</label>
              <input type="text" class="form-control" id="inputEmail4" placeholder="Digite o nome do curso">
            </div>
            <div class="form-group col-md-3">
              <label for="inputDataInicio">Data Início</label>
              <input type="date" class="form-control" id="inputDataInicio">
            </div>
            <div class="form-group col-md-3">
              <label for="inputDataFim">Data Fim</label>
              <input type="date" class="form-control" id="inputDataFim">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescricaoCurso">Descrição do curso</label>
            <textarea type="text" matAutosizeMinRows=1 matAutosizeMaxRows=10 style="height: 250px !important"
              class="form-control" id="inputDescricaoCurso" placeholder="Fale sobre o curso..."></textarea>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>